.pic hr{
	margin-bottom: 25px;
}
.title{
	font-size:30px;
	color:#8E8E8E;
	margin-top:30px;
	margin-bottom:25px;
}
.container{
	margin:0 auto;
	width:1000px;
	column-width:300px;
	column-gap:5px;
}
.container img{
	width:300px;
}

.container div{
	margin:5px 0;
}